* {
  margin: 0;
  padding: 0;
}

.portfolio {
  /* margin: 0 2.5vw; */
}

#about-me {
  margin: 0 5vw;
  height: 40%;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.image-container {
  align-self: center;
  margin: 30px;
  height: 200px;
  flex: 1;
}

.image-container img {
  margin: auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about-container p {
  flex: 1;
  font-size: 1.3em;
  margin: auto 20px;
}

nav {
  width: 100%;
  /* background-color: #39aaff; */
  background: linear-gradient(200deg,rgba(57, 169, 255), rgba(200, 149, 200));
  text-align: center;
  margin: auto;
}

nav .nav-button {
  /* background-color: rgb(57, 169, 255); */
  background: transparent;
  margin: auto 0;
  font-size: 1.1em;
  padding: 15px 10px;
  width: 15%;
  border: none;
}

nav .nav-button:hover {
  /* background-color: #2277ee; */
  background: rgba(0,0,0,0.1);
}

nav .nav-button:active {
  background-color: #2277ee;
  color: white;
  padding: 15px 10px;
}

.display-container {
  position: relative;
  height: 500px;
  margin: 0 5vw;
  padding: 20px 0;
  background-color: #eeeeee;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.display-container h3 {
  text-align: center;
  font-size: 1.5em;
  height: 10%;
}

.project-container {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.project-container .image-container {
  height: 100%;
}

.project-container p {
  flex: 1;
  font-size: 1.3em;
  margin: auto 20px;
}

.project-slideshow {
  position: relative;
  height: 90%;
  width: 100%;
  margin: 0 auto;
}

.project-slideshow-container {
  position: relative;
  /* background-color: #eeeeee; */
  /* padding: 10px; */
  height: 90%;
}

.project-slideshow-track {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.project-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.display-container > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.1); */
  font-size: 1.5em;
  height: 100%;
  width: 60px;
  border: 0;
  z-index: 1;
}



.slideshow-left-button {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  left: 0px;
}

.slideshow-left-button:active {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  color: white;
}

.slideshow-right-button {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  right: 0px;
}

.slideshow-right-button:active {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  color: white;
}

.slideshow-nav {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.slideshow-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 15px;
}