body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #101010;
  color: #ccc;
  margin: 0;

}

body a:link {
  color: #1a0;
}

body a:visited {
  color: #ac7;
}

body a:hover {
  color: #5ef;
}

body a:active {
  color: #fc0;
}

header {
  background-color: #000;
  margin: 20px auto;
  border: solid 3px #fb0;
  border-radius: 20%;
  max-width: 600px;
  padding: 0;
}

main {
  margin: 20px auto;
  border: solid 3px #5c4;
  border-radius: 5%;
  overflow: hidden;
  max-width: 800px;
}

main p {
  padding: 0 20px 0 20px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 48px;
}

header h2 {
  color: #fb0;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 1.8em;
  color: #5c4;
}

h3 {
  padding: 0 20px 0 20px;
}

p {
  line-height: 1.2em;
  margin: 0 auto;
}

hr {
  color: #5d5;
  margin: 0;
}

section {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
  background-color: #333;
}

#contact {
  text-align: center;
}

.headshot {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px auto;
  overflow: hidden;
  border: 2px solid #fb0
}

.headshot img {
  object-fit: cover;
  object-position: 60% 30%;
  width: 300px;
  height: 300px;
}

.contact-list {
  list-style-type: none;
  padding-left: 0;
}

.black section {
  background-color: #555;
}

.gray section {
  background-color: #222;
}

div section:nth-of-type(even) {
  background-color: #040404;
}

.header-line {
  height: 10px;
}
